/* --------------- COLORS ---------------- */
/* --------------- TEXT ---------------- */
/* --------------- BUTTON ---------------- */
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, :active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  max-width: 100%;
  color: #696969;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1270px;
  margin: 0px auto;
  padding: 0px 15px;
}

/* PC */
@media (max-width: 1270px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

/* TABLET  */
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

/* MOBILE */
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

/* MOBILE SMALL */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 124px;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
  flex: 1 1 auto;
}

.header__buttons {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* -------------------------- */
.logo {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.48px;
  color: #121212;
}

.logo span {
  color: #4D77FF;
}

/* -------------------------- */
.menu {
  display: flex;
  justify-content: flex-start;
}

.menu__list {
  display: flex;
  flex-direction: row;
}

.menu__link {
  color: #121212;
  letter-spacing: 0.48px;
  line-height: 1.4;
  font-weight: 500;
}

.menu__link:hover {
  text-decoration: underline;
}

@media (min-width: 991.98px) {
  .menu__item {
    margin-left: 40px;
  }
}

@media (max-width: 991.98px) {
  .header__container {
    min-height: 104px;
  }
  .menu__item {
    margin-left: 30px;
  }
}

@media (max-width: 767.98px) {
  .menu {
    justify-content: flex-end;
  }
  .menu__item:not(:last-child) {
    padding-bottom: 10px;
  }
  .menu__icon {
    margin-left: 20px;
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #121212;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active::before {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .menu__icon._active::after {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    overflow: auto;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    transition: left 0.3s ease 0s;
    padding: 100px 15px 30px 15px;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__item {
    margin: 0 0 10px 0;
  }
  .menu__item:last-child {
    margin: 0;
  }
  .menu__link {
    font-size: 24px;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* -------------------------- */
.button {
  display: inline-block;
  background-color: #4D77FF;
  border-radius: 10px;
  line-height: 1.4;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  transition: background-color 0.3s ease 0s;
  font-weight: 500;
}

.button:hover {
  background-color: #7996f7;
}

.button__signin {
  line-height: 1.4;
  font-weight: 500;
  color: #121212;
  letter-spacing: 0.48px;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 20px;
}

.button__signin:hover {
  text-decoration: underline;
}

.button__signup {
  flex: 0 0 97px;
  padding: 12px 20px;
}

@media (max-width: 767.98px) {
  .button__signup {
    overflow: hidden;
    white-space: nowrap;
  }
}

@media (max-width: 479.98px) {
  .header__logo {
    flex: 1 1 auto;
  }
  .button__signup {
    flex: 0 0 67px;
    overflow: hidden;
    padding: 12px 6px;
    white-space: nowrap;
  }
}

.main {
  flex: 1 1 auto;
}

/* ----------------------------- */
.medical-care {
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.medical-care__container {
  padding: 184px 15px 211px 15px;
  display: flex;
  position: relative;
}

.medical-care::before {
  content: "";
  position: absolute;
  z-index: 3;
  background-color: #4D77FF;
  width: 1240px;
  height: 1240px;
  top: 43%;
  left: 45%;
  border-radius: 50%;
}

.medical-care__about {
  max-width: 634px;
}

.medical-care__profile {
  position: absolute;
  z-index: 6;
  bottom: 13%;
  right: 36%;
}

.medical-care__image {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: -90px;
}

@media (max-width: 1270px) {
  .medical-care::before {
    top: 40%;
    left: 38%;
  }
  .medical-care__profile {
    right: 43%;
  }
  .medical-care__about {
    max-width: 520px;
  }
  .doctor-image_1 {
    max-width: 70%;
  }
}

@media (max-width: 991.98px) {
  .medical-care__profile {
    bottom: 13%;
    right: 45%;
  }
  .medical-care__about {
    max-width: 500px;
  }
  .medical-care__image {
    right: -75px;
  }
}

@media (max-width: 767.98px) {
  .medical-care__container {
    flex-direction: column;
    padding: 124px 15px 0px 15px;
  }
  .medical-care__about {
    max-width: none;
  }
  .medical-care__button {
    padding: 16px 36px;
  }
  .medical-care__profile {
    width: 144px;
    left: 100px;
    bottom: 60px;
  }
}

@media (max-width: 479.98px) {
  .medical-care::before {
    display: none;
  }
  .medical-care__container {
    padding: 124px 15px 40px 15px;
  }
  .medical-care__profile {
    position: static;
    margin: 70px auto 0px;
  }
}

/* ----------------------------- */
.about__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.3;
  letter-spacing: 0.32px;
  color: #121212;
}

.about__title span {
  color: #4D77FF;
}

.about__title:not(:last-child) {
  margin: 0 0 26px 0;
}

.about__text {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.48px;
}

.about__text:not(:last-child) {
  margin: 0 0 26px 0;
}

@media (max-width: 1270px) {
  .about__title {
    font-size: 44px;
  }
  .about__title:not(:last-child) {
    margin: 0 0 20px 0;
  }
  .about__text {
    font-size: 14px;
  }
  .about__text:not(:last-child) {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 991.98px) {
  .about__title {
    font-size: 38px;
  }
  .about__title:not(:last-child) {
    margin: 0 0 20px 0;
  }
  .about__text {
    font-size: 14px;
  }
  .about__text:not(:last-child) {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 767.98px) {
  .about__title {
    font-size: 36px;
  }
}

/* ----------------------------- */
.card {
  background-color: #FFFFFF;
  border-radius: 10px;
}

.card__image img {
  border-radius: 50%;
}

.card__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.48px;
  color: #121212;
}

.card__text {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #696969;
}

.profile-card {
  text-align: center;
  box-shadow: 0px -24px 34px rgba(199, 201, 217, 0.15);
}

.profile-card__container {
  padding: 16px 0;
  width: 144px;
}

.profile-card__image {
  margin: 0 0 10px 0;
}

.profile-card__title:not(:last-child) {
  margin: 0 0 4px 0;
}

.profile-card__text {
  margin: 0 0 10px 0;
}

.profile-card__button {
  padding: 10px;
  flex: 0 1 112px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
}

@media (max-width: 767.98px) {
  .profile-card {
    box-shadow: 0px 14px 34px rgba(199, 201, 217, 0.15);
  }
}

/* ----------------------------- */
.button {
  display: inline-block;
  background-color: #4D77FF;
  border-radius: 10px;
  line-height: 1.4;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #7996f7;
}

.button__contact-us {
  flex: 0 0 162px;
  padding: 16px 36px;
}

@media (max-width: 767.98px) {
  .button__contact-us {
    flex: 0 0 102px;
    padding: 12px 22px;
  }
}

/* ----------------------------- */
.doctor-image_1 img {
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .doctor-image_1 {
    position: relative;
    right: -180px;
    bottom: 0;
  }
}

@media (max-width: 479.98px) {
  .doctor-image_1 {
    display: none;
  }
}

/* ----------------------------- */
.fast-solutions__container {
  padding: 100px 15px 100px 15px;
  display: flex;
  flex-direction: column;
}

.fast-solutions__block-text {
  margin: 0px auto 53px;
  text-align: center;
}

.fast-solutions__items {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.fast-solutions__column {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(18, 18, 18, 0.1);
  border-radius: 0px 0px 10px 10px;
  border-top: #4D77FF solid 3px;
  flex: 0 0 287px;
}

@media (max-width: 1270px) {
  .fast-solutions__items {
    gap: 15px;
  }
  .fast-solutions__column {
    flex: 0 0 226px;
  }
}

@media (max-width: 991.98px) {
  .fast-solutions__container {
    padding: 70px 15px 70px 15px;
  }
  .fast-solutions__items {
    flex-direction: column;
    text-align: center;
  }
  .fast-solutions__column {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 479.98px) {
  .fast-solutions__container {
    padding: 30px 15px 50px 15px;
  }
}

/* ----------------------------- */
.block-text__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.48px;
  color: #4D77FF;
  margin: 0 0 10px 0;
}

.block-text__subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.24px;
  color: #121212;
}

/* ----------------------------- */
.item-fast-solutions__icon {
  padding: 50px 0 0 40px;
}

.item-fast-solutions__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.48px;
  color: #121212;
  padding: 14px 0 12px 40px;
}

.item-fast-solutions__text {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #696969;
  padding: 0 0 50px 40px;
  max-width: 250px;
}

.item-fast-solutions__text:nth-child(3), .item-fast-solutions__text:nth-child(4) {
  padding: 0 0 34px 40px;
}

@media (max-width: 1270px) {
  .item-fast-solutions__icon {
    padding: 30px 0 0 20px;
  }
  .item-fast-solutions__title {
    padding: 10px 0 8px 20px;
  }
  .item-fast-solutions__text {
    padding: 0 0 20px 20px;
    max-width: 200px;
  }
  .item-fast-solutions__text:nth-child(3), .item-fast-solutions__text:nth-child(4) {
    padding: 0 0 20px 20px;
  }
}

@media (max-width: 991.98px) {
  .item-fast-solutions__icon {
    padding: 0 0 20px 0;
  }
  .item-fast-solutions__title {
    padding: 0 0 8px 0;
  }
  .item-fast-solutions__text {
    padding: 0;
    max-width: none;
  }
  .item-fast-solutions__text:nth-child(3), .item-fast-solutions__text:nth-child(4) {
    padding: 0;
  }
}

/* ----------------------------- */
.find-doctor {
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.find-doctor__container {
  padding: 80px 15px 208px 15px;
  display: flex;
  position: relative;
}

.find-doctor::before {
  content: "";
  position: absolute;
  z-index: 3;
  background-color: #4D77FF;
  width: 803px;
  height: 803px;
  top: 32%;
  left: 53%;
  border-radius: 50%;
}

.find-doctor__block {
  max-width: 535px;
}

.find-doctor__block-text {
  margin: 0 0 26px 0;
}

.find-doctor__available-card {
  position: absolute;
  z-index: 6;
  top: 18%;
  right: 30%;
}

.find-doctor__image {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: -40px;
}

@media (max-width: 1270px) {
  .find-doctor::before {
    top: 46%;
    left: 47%;
  }
  .find-doctor__available-card {
    top: 60%;
    right: 50%;
  }
}

@media (max-width: 991.98px) {
  .find-doctor::before {
    top: 57%;
    left: 35%;
  }
  .find-doctor__available-card {
    top: 60%;
    right: 40%;
  }
  .find-doctor__image {
    bottom: 0;
    right: -200px;
  }
}

@media (max-width: 767.98px) {
  .find-doctor__container {
    flex-direction: column;
    padding: 30px 15px 0 15px;
  }
  .find-doctor::before {
    top: 57%;
    left: 25%;
  }
  .find-doctor__block {
    max-width: none;
  }
  .find-doctor__available-card {
    top: 64%;
    right: 57%;
  }
  .find-doctor__image {
    bottom: 0;
    right: -250px;
  }
}

@media (max-width: 479.98px) {
  .find-doctor::before {
    display: none;
  }
  .find-doctor__container {
    padding: 124px 15px 40px 15px;
  }
  .find-doctor__available-card {
    position: static;
    margin: 70px auto 0px;
  }
}

.block__text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.32px;
  color: #696969;
  margin: 0 0 26px 0;
}

.block__list {
  margin: 0 0 26px 36px;
}

.block__list li:not(:last-child) {
  margin: 0 0 16px 0;
}

.list__item {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.32px;
  color: #121212;
  position: relative;
}

.list__item::before {
  content: '';
  background: url("/img/li-icon.svg") no-repeat center center/cover;
  position: absolute;
  width: 24px;
  height: 24px;
  top: -2px;
  left: -36px;
}

.button__see-the-doctors {
  padding: 16px 36px;
}

@media (max-width: 767.98px) {
  .button__see-the-doctors {
    padding: 12px 18px;
  }
}

/* ----------------------------- */
.available-card {
  box-shadow: -4px -10px 50px rgba(18, 18, 18, 0.1);
}

.available-card__container {
  align-items: center;
  position: relative;
}

.available-card__container_1 {
  padding: 18px 30px 12px 30px;
}

.available-card__container_2 {
  padding: 0 30px 18px 30px;
}

.available-card__items {
  margin: 0 0 12px 0;
}

.available-card__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}

.available-card__item:not(:last-child) {
  margin: 0 0 4px 0;
}

.available-card__item:active, .available-card__item:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.available-card__block-text {
  margin: 0 0 0 14px;
  align-items: center;
  justify-content: center;
}

.available-card__button {
  padding: 8px 37px;
  font-size: 12px;
  background-color: #EDF1FF;
  color: #4D77FF;
}

.available-card__button:hover {
  background-color: #f9fbff;
}

.doctor-image_2 img {
  max-width: 100%;
}

@media (max-width: 991.98px) {
  .doctor-image_2 img {
    max-width: 65%;
  }
}

@media (max-width: 767.98px) {
  .doctor-image_2 {
    position: relative;
    right: -255px;
    bottom: 0;
  }
  .doctor-image_2 img {
    max-width: 50%;
  }
}

@media (max-width: 479.98px) {
  .doctor-image_2 {
    display: none;
  }
}
