/* --------------- COLORS ---------------- */
/* --------------- TEXT ---------------- */
/* --------------- BUTTON ---------------- */
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, :active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  max-width: 100%;
  color: #696969;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1268px;
  margin: 0px auto;
  padding: 0px 15px;
}

/* PC */
@media (max-width: 1268px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

/* TABLET  */
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

/* MOBILE */
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

/* MOBILE SMALL */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 124px;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
  flex: 1 1 auto;
}

.header__buttons {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* -------------------------- */
.logo {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.48px;
  color: #121212;
}

.logo span {
  color: #4D77FF;
}

/* -------------------------- */
.menu {
  display: flex;
  justify-content: flex-start;
}

.menu__list {
  display: flex;
  flex-direction: row;
}

.menu__link {
  color: #121212;
  letter-spacing: 0.48px;
  line-height: 1.4;
  font-weight: 500;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__icon {
  display: none;
}

@media (min-width: 991.98px) {
  .menu__item {
    margin-left: 40px;
  }
}

@media (max-width: 991.98px) {
  .header__container {
    min-height: 104px;
  }
  .menu__item {
    margin-left: 30px;
  }
}

@media (max-width: 767.98px) {
  .menu {
    justify-content: flex-end;
  }
  .menu__item:not(:last-child) {
    padding-bottom: 10px;
  }
  .menu__icon {
    margin-left: 20px;
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #121212;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active::before {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .menu__icon._active::after {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    overflow: auto;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    transition: left 0.3s ease 0s;
    padding: 100px 15px 30px 15px;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__item {
    margin: 0 0 10px 0;
  }
  .menu__item:last-child {
    margin: 0;
  }
  .menu__link {
    font-size: 24px;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* -------------------------- */
.button {
  display: inline-block;
  background-color: #4D77FF;
  border-radius: 10px;
  line-height: 1.4;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  transition: background-color 0.3s ease 0s;
  font-weight: 500;
}

.button:hover {
  background-color: #7996f7;
}

.button__signin {
  line-height: 1.4;
  font-weight: 500;
  color: #121212;
  letter-spacing: 0.48px;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 20px;
}

.button__signin:hover {
  text-decoration: underline;
}

.button__signup {
  flex: 0 0 97px;
  padding: 12px 20px;
}

@media (max-width: 767.98px) {
  .button {
    font-size: 16px;
  }
  .button__signup {
    padding: 12px 18px;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media (max-width: 479.98px) {
  .header__logo {
    flex: 1 1 auto;
  }
  .button {
    font-size: 16px;
  }
  .button__signup {
    flex: 0 0 67px;
    overflow: hidden;
    padding: 12px 3px;
    white-space: nowrap;
  }
}

.main {
  flex: 1 1 auto;
}

/* ----------------------------- */
.medical-care {
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.medical-care__container {
  padding: 184px 15px 211px 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.medical-care::before {
  content: "";
  position: absolute;
  z-index: 3;
  background-color: #4D77FF;
  width: 1240px;
  height: 1240px;
  top: 43%;
  left: 45%;
  border-radius: 50%;
}

.medical-care__block-text {
  max-width: 634px;
}

.medical-care__button {
  flex: 0 1 162;
  padding: 16px 36px;
}

.medical-care__profile {
  position: absolute;
  z-index: 6;
  bottom: 13%;
  right: 36%;
}

.medical-care__image {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: -90px;
}

@media (max-width: 1268px) {
  .medical-care::before {
    top: 40%;
    left: 38%;
  }
  .medical-care__profile {
    right: 43%;
  }
  .medical-care__block-text {
    max-width: 520px;
  }
  .doctor-image_1 {
    max-width: 70%;
  }
}

@media (max-width: 991.98px) {
  .medical-care__profile {
    bottom: 13%;
    right: 45%;
  }
  .medical-care__block-text {
    max-width: 500px;
  }
  .medical-care__image {
    right: -75px;
  }
  .doctor-image_1 {
    max-width: 70%;
  }
}

/* ----------------------------- */
.block-text__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.3;
  letter-spacing: 0.32px;
  color: #121212;
}

.block-text__title span {
  color: #4D77FF;
}

.block-text__title:not(:last-child) {
  margin: 0 0 26px 0;
}

.block-text__text {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.48px;
}

.block-text__text:not(:last-child) {
  margin: 0 0 26px 0;
}

@media (max-width: 1268px) {
  .block-text__title {
    font-size: 44px;
  }
  .block-text__title:not(:last-child) {
    margin: 0 0 20px 0;
  }
  .block-text__text {
    font-size: 14px;
  }
  .block-text__text:not(:last-child) {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 991.98px) {
  .block-text__title {
    font-size: 38px;
  }
  .block-text__title:not(:last-child) {
    margin: 0 0 20px 0;
  }
  .block-text__text {
    font-size: 14px;
  }
  .block-text__text:not(:last-child) {
    margin: 0 0 20px 0;
  }
}

/* ----------------------------- */
.profile-card {
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px -24px 34px rgba(199, 201, 217, 0.15);
}

.profile-card__container {
  padding: 16px 0;
  width: 144px;
}

.profile-card__image {
  margin: 0 0 10px 0;
}

.profile-card__image img {
  border-radius: 50%;
}

.profile-card__title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.48px;
}

.profile-card__title:not(:last-child) {
  margin: 0 0 4px 0;
}

.profile-card__text {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
}

.profile-card__text:not(:last-child) {
  margin: 0 0 10px 0;
}

.profile-card__button {
  padding: 10px;
  flex: 0 1 112px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
}

/* ----------------------------- */
.button {
  display: inline-block;
  background-color: #4D77FF;
  border-radius: 10px;
  line-height: 1.4;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #7996f7;
}

/* ----------------------------- */
.doctor-image_1 img {
  max-width: 100%;
}
