/* @import "abstracts/buttons";
@import "abstracts/colors";
@import "abstracts/fonts";
@import "abstracts/text";
@import "mixins/mixin"; */
/* @use "clear-style";
@use "abstracts";
@use "mixins/mixin"; */
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, :active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@use "../abstracts/abstracts" as *;
html, body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  max-width: 100%;
  color: #696969;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1270px;
  margin: 0px auto;
  padding: 0px 15px;
}

/* PC */
@media (max-width: 1270px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

/* TABLET  */
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

/* MOBILE */
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

/* MOBILE SMALL */
@use "../abstracts" as *;
@use "../mixins/mixin" as *;
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 124px;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
  flex: 1 1 auto;
}

.header__buttons {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* -------------------------- */
.logo {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.48px;
  color: #121212;
}

.logo span {
  color: #4D77FF;
}

/* -------------------------- */
.menu-header {
  display: flex;
  justify-content: flex-start;
}

.menu-header__list {
  display: flex;
  flex-direction: row;
}

.menu-header__link {
  color: #121212;
  letter-spacing: 0.48px;
  line-height: 1.4;
  font-weight: 500;
}

.menu-header__link:hover {
  text-decoration: underline;
}

@media (min-width: 991.98px) {
  .menu-header__item {
    margin-left: 40px;
  }
}

@media (max-width: 991.98px) {
  .header__container {
    min-height: 104px;
  }
  .menu-header__item {
    margin-left: 30px;
  }
}

@media (max-width: 767.98px) {
  .menu-header {
    justify-content: flex-end;
  }
  .menu-header__item:not(:last-child) {
    padding-bottom: 10px;
  }
  .menu-header__icon {
    margin-left: 20px;
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu-header__icon span, .menu-header__icon::before, .menu-header__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #121212;
  }
  .menu-header__icon::before, .menu-header__icon::after {
    content: "";
  }
  .menu-header__icon::before {
    top: 0;
  }
  .menu-header__icon::after {
    bottom: 0;
  }
  .menu-header__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu-header__icon._active::before {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .menu-header__icon._active::after {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .menu-header__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu-header__body {
    position: fixed;
    overflow: auto;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    transition: left 0.3s ease 0s;
    padding: 100px 15px 30px 15px;
  }
  .menu-header__body._active {
    left: 0;
  }
  .menu-header__item {
    margin: 0 0 10px 0;
  }
  .menu-header__item:last-child {
    margin: 0;
  }
  .menu-header__link {
    font-size: 24px;
  }
  .menu-header__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* -------------------------- */
.button {
  display: inline-block;
  background-color: #4D77FF;
  border-radius: 10px;
  line-height: 1.4;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
  font-weight: 500;
}

.button:hover {
  background-color: #7996f7;
}

.button__signin {
  line-height: 1.4;
  font-weight: 500;
  color: #121212;
  letter-spacing: 0.48px;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 20px;
}

.button__signin:hover {
  text-decoration: underline;
}

.button__signup {
  flex: 0 0 97px;
  padding: 12px 20px;
}

@media (max-width: 767.98px) {
  .button__signup {
    overflow: hidden;
    white-space: nowrap;
  }
}

@media (max-width: 479.98px) {
  .header__logo {
    flex: 1 1 auto;
  }
  .button__signup {
    flex: 0 0 67px;
    overflow: hidden;
    padding: 12px 6px;
    white-space: nowrap;
  }
}

@use "../abstracts" as *;
@use "../mixins/mixin" as *;
.main {
  flex: 1 1 auto;
}

/* ----------------------------- */
.medical-care {
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.medical-care__container {
  padding: 184px 15px 211px 15px;
  display: flex;
  position: relative;
}

.medical-care::before {
  content: "";
  position: absolute;
  z-index: 3;
  background-color: #4D77FF;
  width: 1240px;
  height: 1240px;
  top: 43%;
  left: 45%;
  border-radius: 50%;
}

.medical-care__about {
  max-width: 634px;
}

.medical-care__profile {
  position: absolute;
  z-index: 6;
  bottom: 13%;
  right: 36%;
}

.medical-care__image {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: -90px;
}

@media (max-width: 1270px) {
  .medical-care::before {
    top: 40%;
    left: 38%;
  }
  .medical-care__profile {
    right: 43%;
  }
  .medical-care__about {
    max-width: 520px;
  }
  .doctor-image_1 {
    max-width: 70%;
  }
}

@media (max-width: 991.98px) {
  .medical-care__profile {
    bottom: 13%;
    right: 45%;
  }
  .medical-care__about {
    max-width: 500px;
  }
  .medical-care__image {
    right: -75px;
  }
}

@media (max-width: 767.98px) {
  .medical-care__container {
    flex-direction: column;
    padding: 124px 15px 0px 15px;
  }
  .medical-care__about {
    max-width: none;
  }
  .medical-care__button {
    padding: 16px 36px;
  }
  .medical-care__profile {
    width: 144px;
    left: 100px;
    bottom: 60px;
  }
}

@media (max-width: 479.98px) {
  .medical-care::before {
    display: none;
  }
  .medical-care__container {
    padding: 124px 15px 40px 15px;
  }
  .medical-care__profile {
    position: static;
    margin: 70px auto 0px;
  }
}

.about__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.3;
  letter-spacing: 0.32px;
  color: #121212;
}

.about__title span {
  color: #4D77FF;
}

.about__title:not(:last-child) {
  margin: 0 0 26px 0;
}

.about__text {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.48px;
}

.about__text:not(:last-child) {
  margin: 0 0 26px 0;
}

@media (max-width: 1270px) {
  .about__title {
    font-size: 44px;
  }
  .about__title:not(:last-child) {
    margin: 0 0 20px 0;
  }
  .about__text {
    font-size: 14px;
  }
  .about__text:not(:last-child) {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 991.98px) {
  .about__title {
    font-size: 38px;
  }
  .about__title:not(:last-child) {
    margin: 0 0 20px 0;
  }
  .about__text {
    font-size: 14px;
  }
  .about__text:not(:last-child) {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 767.98px) {
  .about__title {
    font-size: 36px;
  }
}

.card {
  background-color: #FFFFFF;
  border-radius: 10px;
}

.card__image img {
  border-radius: 50%;
}

.card__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.48px;
  color: #121212;
}

.card__text {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #696969;
}

.profile-card {
  text-align: center;
  box-shadow: 0px -24px 34px rgba(199, 201, 217, 0.15);
}

.profile-card__container {
  padding: 16px 0;
  width: 144px;
}

.profile-card__image {
  margin: 0 0 10px 0;
}

.profile-card__title:not(:last-child) {
  margin: 0 0 4px 0;
}

.profile-card__text {
  margin: 0 0 10px 0;
}

.profile-card__button {
  padding: 10px;
  flex: 0 1 112px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
}

@media (max-width: 767.98px) {
  .profile-card {
    box-shadow: 0px 14px 34px rgba(199, 201, 217, 0.15);
  }
}

.button {
  display: inline-block;
  background-color: #4D77FF;
  border-radius: 10px;
  line-height: 1.4;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
}

.button:hover {
  background-color: #7996f7;
}

.button__contact-us {
  flex: 0 0 162px;
  padding: 16px 36px;
}

@media (max-width: 767.98px) {
  .button__contact-us {
    flex: 0 0 102px;
    padding: 12px 22px;
  }
}

.doctor-image_1 img {
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .doctor-image_1 {
    position: relative;
    right: -180px;
    bottom: 0;
  }
}

@media (max-width: 479.98px) {
  .doctor-image_1 {
    display: none;
  }
}

/* ----------------------------- */
.fast-solutions__container {
  padding: 100px 15px 100px 15px;
  display: flex;
  flex-direction: column;
}

.fast-solutions__block-text {
  margin: 0px auto 53px;
  text-align: center;
}

.fast-solutions__items {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.fast-solutions__column {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(18, 18, 18, 0.1);
  border-radius: 0px 0px 10px 10px;
  border-top: #4D77FF solid 3px;
  flex: 0 0 287px;
}

@media (max-width: 1270px) {
  .fast-solutions__items {
    gap: 15px;
  }
  .fast-solutions__column {
    flex: 0 0 226px;
  }
}

@media (max-width: 991.98px) {
  .fast-solutions__container {
    padding: 100px 15px 50px;
  }
  .fast-solutions__items {
    flex-direction: column;
    text-align: center;
  }
  .fast-solutions__column {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 479.98px) {
  .fast-solutions__container {
    padding: 30px 15px 40px 15px;
  }
}

.block-text {
  margin: 0 0 26px 0;
}

.block-text__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.48px;
  color: #4D77FF;
  margin: 0 0 10px 0;
}

.block-text__subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.24px;
  color: #121212;
}

.item-fast-solutions__icon {
  padding: 50px 0 0 40px;
}

.item-fast-solutions__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.48px;
  color: #121212;
  padding: 14px 0 12px 40px;
}

.item-fast-solutions__text {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #696969;
  padding: 0 0 50px 40px;
  max-width: 250px;
}

.item-fast-solutions__text:nth-child(3), .item-fast-solutions__text:nth-child(4) {
  padding: 0 0 34px 40px;
}

@media (max-width: 1270px) {
  .item-fast-solutions__icon {
    padding: 30px 0 0 20px;
  }
  .item-fast-solutions__title {
    padding: 10px 0 8px 20px;
  }
  .item-fast-solutions__text {
    padding: 0 0 20px 20px;
    max-width: 200px;
  }
  .item-fast-solutions__text:nth-child(3), .item-fast-solutions__text:nth-child(4) {
    padding: 0 0 20px 20px;
  }
}

@media (max-width: 991.98px) {
  .item-fast-solutions__icon {
    padding: 0 0 20px 0;
  }
  .item-fast-solutions__title {
    padding: 0 0 8px 0;
  }
  .item-fast-solutions__text {
    padding: 0;
    max-width: none;
  }
  .item-fast-solutions__text:nth-child(3), .item-fast-solutions__text:nth-child(4) {
    padding: 0;
  }
}

/* ----------------------------- */
.find-doctor {
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.find-doctor__container {
  padding: 80px 15px 208px 15px;
  display: flex;
  position: relative;
}

.find-doctor::before {
  content: "";
  position: absolute;
  z-index: 3;
  background-color: #4D77FF;
  width: 803px;
  height: 803px;
  top: 32%;
  left: 53%;
  border-radius: 50%;
}

.find-doctor__block {
  max-width: 535px;
}

.find-doctor__available-card {
  position: absolute;
  z-index: 6;
  top: 18%;
  right: 30%;
}

.find-doctor__image {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: -40px;
}

@media (max-width: 1270px) {
  .find-doctor::before {
    top: 46%;
    left: 47%;
  }
  .find-doctor__available-card {
    top: 60%;
    right: 50%;
  }
}

@media (max-width: 991.98px) {
  .find-doctor__container {
    padding: 50px 15px 238px;
  }
  .find-doctor::before {
    top: 57%;
    left: 35%;
  }
  .find-doctor__available-card {
    top: 60%;
    right: 40%;
  }
  .find-doctor__image {
    bottom: 0;
    right: -200px;
  }
}

@media (max-width: 767.98px) {
  .find-doctor__container {
    flex-direction: column;
    padding: 30px 15px 0;
  }
  .find-doctor::before {
    top: 57%;
    left: 25%;
  }
  .find-doctor__block {
    max-width: none;
  }
  .find-doctor__available-card {
    top: 64%;
    right: 57%;
  }
  .find-doctor__image {
    bottom: 0;
    right: -250px;
  }
}

@media (max-width: 479.98px) {
  .find-doctor::before {
    display: none;
  }
  .find-doctor__container {
    padding: 30px 15px 40px 15px;
  }
  .find-doctor__available-card {
    position: static;
    margin: 70px auto 0px;
  }
}

.block__text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.32px;
  color: #696969;
  margin: 0 0 26px 0;
}

.block__list {
  margin: 0 0 26px 36px;
}

.block__list li:not(:last-child) {
  margin: 0 0 16px 0;
}

.list__item {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.32px;
  color: #121212;
  position: relative;
}

.list__item::before {
  content: '';
  background: url("/img/li-icon.svg") no-repeat center center/cover;
  position: absolute;
  width: 24px;
  height: 24px;
  top: -2px;
  left: -36px;
}

.button__see-the-doctors {
  padding: 16px 36px;
}

@media (max-width: 767.98px) {
  .button__see-the-doctors {
    padding: 12px 18px;
  }
}

/* ----------------------------- */
.available-card {
  box-shadow: -4px -10px 50px rgba(18, 18, 18, 0.1);
}

.available-card__container {
  align-items: center;
  position: relative;
}

.available-card__container_1 {
  padding: 18px 30px 12px 30px;
}

.available-card__container_2 {
  padding: 0 30px 18px 30px;
}

.available-card__items {
  margin: 0 0 12px 0;
}

.available-card__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}

.available-card__item:not(:last-child) {
  margin: 0 0 4px 0;
}

.available-card__item:target, .available-card__item:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.available-card__block-text {
  margin: 0 0 0 14px;
  align-items: center;
  justify-content: center;
}

.available-card__button {
  padding: 8px 37px;
  font-size: 12px;
  background-color: #EDF1FF;
  color: #4D77FF;
}

.available-card__button:hover {
  background-color: #f9fbff;
}

.doctor-image_2 img {
  max-width: 100%;
}

@media (max-width: 991.98px) {
  .doctor-image_2 img {
    max-width: 65%;
  }
}

@media (max-width: 767.98px) {
  .doctor-image_2 {
    position: relative;
    right: -255px;
    bottom: 0;
  }
  .doctor-image_2 img {
    max-width: 50%;
  }
}

@media (max-width: 479.98px) {
  .doctor-image_2 {
    display: none;
  }
}

/* ----------------------------- */
.make-schedule {
  position: relative;
}

.make-schedule__container {
  padding: 150px 15px 75px 15px;
  display: flex;
  position: relative;
}

.make-schedule__image {
  position: relative;
  z-index: 5;
  flex: 0 1 55%;
}

.make-schedule__image::before {
  content: "";
  position: absolute;
  z-index: -1;
  border: #4D77FF solid 2px;
  background: transparent;
  width: 611px;
  height: 375px;
  top: -2.5%;
  left: 1.35%;
  border-radius: 1000px;
}

.make-schedule__image::after {
  content: "";
  position: absolute;
  z-index: -1;
  border: #4D77FF solid 2px;
  background: transparent;
  width: 611px;
  height: 375px;
  top: 5%;
  left: -1.15%;
  border-radius: 1000px;
}

.make-schedule__block {
  flex: 0 1 45%;
  padding: 0 40px;
  max-width: 515px;
}

@media (max-width: 1270px) {
  .make-schedule__image::before, .make-schedule__image::after {
    width: 517px;
    height: 313.3px;
  }
}

@media (max-width: 991.98px) {
  .make-schedule__container {
    padding: 100px 15px 50px;
  }
  .make-schedule__image {
    align-self: center;
  }
  .make-schedule__image::before, .make-schedule__image::after {
    width: 396px;
    height: 243.03px;
  }
  .make-schedule__image::after {
    top: 3%;
  }
  .make-schedule__block {
    max-width: none;
  }
}

@media (max-width: 767.98px) {
  .make-schedule__container {
    flex-direction: column-reverse;
  }
  .make-schedule__block {
    margin: 0 0 40px 0;
  }
}

.reception-image img {
  border-radius: 1000px;
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .make-schedule__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .make-schedule__image::before, .make-schedule__image::after {
    display: none;
  }
  .reception-image img {
    border: solid #4D77FF 2px;
    border-radius: 1000px;
    max-width: 70%;
  }
}

.button__make-schedule-now {
  padding: 16px 36px;
}

@media (max-width: 767.98px) {
  .button__make-schedule-now {
    padding: 12px 18px;
  }
}

/* ----------------------------- */
.our-rating__container {
  padding: 75px 15px 75px 15px;
  display: flex;
  flex-direction: column;
}

.our-rating__block-text {
  margin: 0px auto 53px;
  text-align: center;
}

.our-rating__items {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.our-rating__column {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 50px 0 44px;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(18, 18, 18, 0.1);
  border-radius: 0px 0px 10px 10px;
  border-top: #4D77FF solid 3px;
  flex: 0 0 287px;
}

@media (max-width: 998.98px) {
  .our-rating__container {
    padding: 50px 15px;
  }
  .our-rating__items {
    flex-direction: column;
  }
  .our-rating__column {
    padding: 25px 0 22px;
    flex: 0 0 150px;
  }
  .our-rating__item {
    padding: 25px 0 22px;
  }
}

@media (max-width: 767.98px) {
  .our-rating__container {
    padding: 30px 15px 40px;
  }
}

.item-our-rating__number {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.48px;
  color: #121212;
  margin: 0 0 12px 0;
}

.item-our-rating__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.48px;
  color: #121212;
}

.item-our-rating__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.48px;
  color: #696969;
}

/* ----------------------------- */
.feedback {
  position: relative;
}

.feedback__container {
  padding: 75px 15px 246px 15px;
}

.feedback__block-text {
  justify-content: center;
  text-align: center;
  margin: 0 0 54px 0;
}

.feedback__subtitle {
  margin: 0 0 11px 0;
}

.feedback__text {
  letter-spacing: 0.24px;
}

.feedback__review {
  display: flex;
}

.feedback__image {
  position: relative;
  z-index: 5;
  flex: 0 1 49%;
  bottom: -80px;
  left: -14px;
}

.feedback__image::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: transparent;
  width: 420px;
  height: 360px;
  border: #4D77FF solid 2px;
  top: 12px;
  left: 14px;
}

.feedback__review-content {
  flex: 0 1 51%;
}

.feedback__review-text {
  overflow-y: hidden;
  position: relative;
  max-width: 555px;
  padding: 100px 0 90px 0;
  margin: 0 0 44px 0;
}

.feedback__bottom-block {
  display: flex;
  position: relative;
}

.feedback__bottom-block::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #EDF1FF;
  width: 100vw;
  height: 350px;
  right: 0px;
  top: -400px;
}

@media (max-width: 991.98px) {
  .feedback__container {
    padding: 50px 15px 123px;
  }
  .feedback__review-text {
    padding: 100px 15px 90px 15px;
    margin: 0 0 64px 0;
  }
  .feedback__image::before {
    width: 352.8px;
    height: 302.39px;
  }
}

@media (max-width: 767.98px) {
  .feedback__review {
    display: flex;
    flex-direction: column;
  }
  .feedback__review-text {
    padding: 50px 15px 50px 15px;
    margin: 0;
  }
  .feedback__block-text {
    margin: 0 0 24px 0;
  }
  .feedback__text {
    margin: 0 0 40px 0;
  }
  .feedback__image {
    align-self: center;
    bottom: 0px;
    left: 0px;
  }
  .feedback__image::before {
    display: none;
  }
  .feedback__review-text {
    max-width: none;
  }
  .feedback__bottom-block::before {
    display: none;
  }
}

.bottom-block {
  justify-content: space-between;
}

.bottom-block__client-block {
  max-width: 210px;
}

.bottom-block__client-block div:not(:last-child) {
  margin: 0 0 14px 0;
}

.bottom-block__switch-block {
  display: flex;
  align-items: center;
  gap: 16px;
}

.client-image img {
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .client-image img {
    border: solid #4D77FF 2px;
  }
}

.review-text {
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 0.48px;
  color: #121212;
}

@media (max-width: 991.98px) {
  .review-text {
    font-size: 17px;
  }
}

.client-block__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.48px;
  color: #121212;
}

.client-block__post {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.48px;
  color: #696969;
}

.switch-block {
  gap: 16px;
}

.switch__link_left img {
  transform: rotate(180deg);
  fill: #EDF1FF;
}

@media (max-width: 991.98px) {
  .block-text__subtitle {
    font-size: 26px;
  }
}

@media (max-width: 767.98px) {
  .block-text__subtitle {
    font-size: 24px;
  }
}

@use "../abstracts" as *;
.footer {
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer__container {
  display: flex;
  min-height: 125px;
  padding: 0 15px 104px 15px;
}

.footer__description {
  flex: 0 1 46%;
}

.footer__row {
  display: flex;
  flex: 0 1 54%;
}

.footer__column {
  width: 25%;
  padding: 0 35px;
}

.footer__column_1 {
  padding: 0 35px 0 0;
}

.footer__column_4 {
  padding: 0 0 0 35px;
}

.footer__label {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.48px;
  color: #121212;
  margin: 0 0 16px 0;
}

@media (max-width: 1270px) {
  .footer__row {
    flex-wrap: wrap;
    flex: 0 1 46%;
  }
  .footer__description {
    align-self: center;
    flex: 0 1 54%;
  }
  .footer__column {
    flex: 0 1 50%;
    width: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 20px 0;
  }
  .footer__column_3 {
    margin: 0;
  }
  .footer__column_4 {
    margin: 0;
  }
}

@media (max-width: 767.98px) {
  .footer__container {
    flex-direction: column;
    padding: 0 15px 70px 15px;
  }
  .footer__row {
    flex: 0 1 100%;
    align-self: center;
  }
  .footer__description {
    flex: 0 1 100%;
    align-self: center;
  }
}

.footer-description__logo p {
  margin: 0 0 12px 0;
}

.footer-description__text {
  max-width: 432px;
  line-height: 20px;
  letter-spacing: 0.24px;
  color: #121212;
}

@media (max-width: 1270px) {
  .footer-description__text {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 991.78px) {
  .footer-description__text {
    max-width: 300px;
  }
}

@media (max-width: 767.98px) {
  .footer-description__text {
    font-size: 16px;
    max-width: 432px;
  }
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.48px;
}

.menu-footer__list {
  white-space: nowrap;
}

.menu-footer__item:not(:last-child) {
  margin: 0 0 15px 0;
}

.menu-footer__link {
  line-height: 20px;
  letter-spacing: 0.24px;
  color: #121212;
}

.menu-footer__link:not(.menu-footer__link_media):hover {
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  .menu-footer__link {
    /*             font-size: 16px; */
  }
}

.media-list {
  display: flex;
  gap: 10px;
}
