html,body{
    height: 100%;
    line-height: 1;
}

body {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    max-width: 100%;
    color: $TextColor;
    &._lock {
        overflow: hidden;
    }
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    min-height: 100%;   
}

[class*="__container"] {
    max-width: 1270px;
    margin: 0px auto;
    padding: 0px 15px;
}

/* PC */
@media (max-width: 1270px) {
    [class*="__container"] {
        max-width: 970px;
    }
}
/* TABLET  */
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}
/* MOBILE */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}
/* MOBILE SMALL */
@media (max-width: 479.98px) {

}