.main {
    flex: 1 1 auto;
}

/* ----------------------------- */

.medical-care {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;

    &__container {
        padding: 184px 15px 211px 15px;
        display: flex;
        position: relative;     
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 3;
        background-color: $PrimaryColor;
        width: 1240px;
        height: 1240px;
        top: 43%;
        left: 45%;
        border-radius: 50%;
    }

    &__about {
        max-width: 634px;
    }

    &__profile {
        position: absolute;
        z-index: 6;
        bottom: 13%;
        right: 36%;
    }

    &__image {
        position: absolute;
        z-index: 5;
        bottom: 0;
        right: -90px;
    }
}

@media (max-width: 1270px) {
    .medical-care {

        &::before {
            top: 40%;
            left: 38%;
        }
        &__profile {
            right: 43%;
        }
    
        &__about {
            max-width: 520px;
        }
    }

    .doctor-image_1 {
        max-width: 70%;
    }
}

@media (max-width: 991.98px) {
    .medical-care {
        &__profile {
            bottom: 13%;
            right: 45%;
        }
    
        &__about {
            max-width: 500px;
        }

        &__image {
            right: -75px;
        }
    }
}

@media (max-width: 767.98px) {
    .medical-care {

        &__container {
            flex-direction: column;
            padding: 124px 15px 0px 15px;
        }

        &__about {
            max-width: none;    
        }

        &__button {
            padding: 16px 36px;
        }

        &__profile {
            width: 144px;
            left: 100px;
            bottom: 60px;
        }   
    }
}

@media (max-width: 479.98px) {
    .medical-care {

        &::before {
            display: none;
        }
        
        &__container {
            padding: 124px 15px 40px 15px;
        }

        &__profile {
            position: static;
            margin: 70px auto 0px;
        }  
    }
}

.about {
    &__title {
        font-weight: 700;
        font-size: 54px;
        line-height: 1.3;
        letter-spacing: $ls002em;
        color: $TitleColor;

        & span {
            color: $PrimaryColor;
        }

        &:not(:last-child) {
            margin: 0 0 26px 0;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: $ls003em;

        &:not(:last-child) {
            margin: 0 0 26px 0;
        }
    }
}

@media (max-width: 1270px) {
    .about {
        &__title {
            font-size: 44px;
    
            &:not(:last-child) {
                margin: 0 0 20px 0;
            }
        }
    
        &__text {
            font-size: 14px;
    
            &:not(:last-child) {
                margin: 0 0 20px 0;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .about {
        &__title {
            font-size: 38px;
    
            &:not(:last-child) {
                margin: 0 0 20px 0;
            }
        }
    
        &__text {
            font-size: 14px;
    
            &:not(:last-child) {
                margin: 0 0 20px 0;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .about {
        &__title {
            font-size: 36px;
        }
    }
} 

.card {
    background-color: $BackgroundColor;
    border-radius: 10px;
    
    &__block-text {
    }

    &__image {
        img {
            border-radius: 50%;
        }
    }

    &__title {
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: $ls003em;
        color: $TitleColor;
    }

    &__text {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: $ls003em;
        color: $TextColor;
    }
}

.profile-card {
    text-align: center;
    box-shadow: 0px -24px 34px rgba(199, 201, 217, 0.15);
    
    &__container {
        padding: 16px 0;
        width: 144px;
    }

    &__item{

    }

    &__block-text {

    }

    &__image {
        margin: 0 0 10px 0;
    }

    &__title {
        &:not(:last-child) {
            margin: 0 0 4px 0;
        }
    }

    &__text {
        margin: 0 0 10px 0;
    }

    &__button {
        padding: 10px;
        flex: 0 1 112px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: $ls003em;
    }
}

@media (max-width: 767.98px) {
    .profile-card {
        box-shadow: 0px 14px 34px rgba(199, 201, 217, 0.15);
    }
}

.button {
    @include button;

    &__contact-us {
        flex: 0 0 162px;
        padding: 16px 36px;
    }
}

@media (max-width: 767.98px) {
    .button {
        &__contact-us {
            flex: 0 0 102px;
            padding: 12px 22px;
        }
    }
}

.doctor-image_1 {
    img {
        max-width: 100%;
    }
}

@media (max-width: 767.98px) {
    .doctor-image_1 {
        position: relative;
        right: -180px;
        bottom: 0;
    }
}

@media (max-width: 479.98px) {
    .doctor-image_1 {
        display: none;
    }
}

/* ----------------------------- */

.fast-solutions {
    &__container {
        padding: 100px 15px 100px 15px;
        display: flex;
        flex-direction: column;
    }

    &__block-text {
        margin: 0px auto 53px;
        text-align: center;
    }

    &__items {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    &__column {
        display: flex;
        background: $BackgroundColor;
        box-shadow: 0px 10px 40px rgba(18, 18, 18, 0.1);
        border-radius: 0px 0px 10px 10px;
        border-top: $PrimaryColor solid 3px;
        flex: 0 0 287px;
    }

    &__item {
        
    }
}

@media (max-width: 1270px) {
    .fast-solutions {
        &__items {
            gap: 15px;
        }

        &__column {
            flex: 0 0 226px;
        }
    }
}

@media (max-width: 991.98px) {
    .fast-solutions {
        &__container {
            padding: 70px 15px 70px 15px;
        }

        &__items {
            flex-direction: column;
            text-align: center;
        }
        &__column {
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 479.98px) {
    .fast-solutions {
        &__container {
            padding: 30px 15px 50px 15px;
        }
    }
}

.block-text {
    margin: 0 0 26px 0;
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: $ls003em;
        color: $PrimaryColor;
        margin: 0 0 10px 0;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: $ls0015em;
        color: $TitleColor;
    }
}

.item-fast-solutions {
    &__icon {
        padding: 50px 0 0 40px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: $ls003em;
        color: $TitleColor;
        padding: 14px 0 12px 40px;
    }

    &__text {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: $ls003em;
        color: $TextColor;
        padding: 0 0 50px 40px;
        max-width: 250px;

        &:nth-child(3),
        &:nth-child(4) { 
            padding: 0 0 34px 40px;
        }
    }
}

@media (max-width: 1270px) {
    .item-fast-solutions {
        &__icon {
            padding: 30px 0 0 20px;
        }
    
        &__title {
            padding: 10px 0 8px 20px;
        }

        &__text {
            padding: 0 0 20px 20px;
            max-width: 200px;

            &:nth-child(3),
            &:nth-child(4) { 
                padding: 0 0 20px 20px;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .item-fast-solutions {
        &__icon {
            padding: 0 0 20px 0;
        }
    
        &__title {
            padding: 0 0 8px 0;
        }

        &__text {
            padding: 0;
            max-width: none;

            &:nth-child(3),
            &:nth-child(4) { 
                padding: 0;
            }
        }
    }
}

/* ----------------------------- */

.find-doctor {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;

    &__container {
        padding: 80px 15px 208px 15px;
        display: flex;
        position: relative;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 3;
        background-color: $PrimaryColor;
        width: 803px;
        height: 803px;
        top: 32%;
        left: 53%;
        border-radius: 50%;
    }

    &__block {
        max-width: 535px;
    }

    &__block-text {
    }

    &__available-card {
        position: absolute;
        z-index: 6;
        top: 18%;
        right: 30%;
    }

    &__image {
        position: absolute;
        z-index: 5;
        bottom: 0;
        right: -40px;
    }
}

@media (max-width: 1270px) {
    .find-doctor {

        &::before {
            top: 46%;
            left: 47%;
        }

        &__available-card {
            top: 60%;
            right: 50%;
        }
    }
}

@media (max-width: 991.98px) {
    .find-doctor {

        &::before {
            top: 57%;
            left: 35%;
        }

        &__available-card {
            top: 60%;
            right: 40%;
        }
    
        &__image {
            bottom: 0;
            right: -200px;
        }
    }
}

@media (max-width: 767.98px) {
    .find-doctor {

        &__container {
            flex-direction: column;
            padding: 30px 15px 0 15px;
        }

        &::before {
            top: 57%;
            left: 25%;
        }

        &__block {
            max-width: none;
        }

        &__available-card {
            top: 64%;
            right: 57%;
        }
    
        &__image {
            bottom: 0;
            right: -250px;
        }
    }
}

@media (max-width: 479.98px) {
    .find-doctor {

        &::before {
            display: none;
        }
        
        &__container {
            padding: 124px 15px 40px 15px;
        }

        &__available-card {
            position: static;
            margin: 70px auto 0px;
        }  
    }
}

.block {
    &__text {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: $ls002em;
        color: $TextColor;
        margin: 0 0 26px 0;
    }

    &__list {
        margin: 0 0 26px 36px;

        & li {
            &:not(:last-child) {
                margin: 0 0 16px 0;
            }
        }
    }
}

.list {
    &__item {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: $ls002em;
        color: $TitleColor;
        position: relative;

        &::before {
            content: '';
            background: url('/img/li-icon.svg') 
                no-repeat center center/cover;
            position: absolute;
            width: 24px;
            height: 24px;
            top: -2px;
            left: -36px;
        }
    }
}

.button {
    &__see-the-doctors {
        padding: 16px 36px;
    }
}

@media (max-width: 767.98px) {
    .button {
        &__see-the-doctors {
            padding: 12px 18px;
        }
    }
}

/* ----------------------------- */

.available-card {
    box-shadow: -4px -10px 50px rgba(18, 18, 18, 0.1);

    &__container {
        align-items: center;
        position: relative;
        
        &_1 {
            padding: 18px 30px 12px 30px;
        }

        &_2 {
            padding: 0 30px 18px 30px;
        }
    }

    &__items {
        margin: 0 0 12px 0;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 0;

        &:not(:last-child)
        {
            margin: 0 0 4px 0;
        }

        &:active,
        &:hover{
            cursor: pointer;
            background-color: #e6e6e6;
        }

        &_1 {
        }

        &_2 {
        }
    }

    &__image {
    }

    &__block-text {
        margin: 0 0 0 14px;
        align-items: center;
        justify-content: center;
    }

    &__title {
    }

    &__text {
    }

    &__button {
        padding: 8px 37px;
        font-size: 12px;
        background-color: $AdditionColor;
        color: $PrimaryColor;

        &:hover {
            background-color: #f9fbff;
        }
    }
}

.doctor-image_2 {
    img {
        max-width: 100%;
    }
}

@media (max-width: 991.98px) {
    .doctor-image_2 {
        img {
            max-width: 65%;
        }
    }
}

@media (max-width: 767.98px) {
    .doctor-image_2 {
        position: relative;
        right: -255px;
        bottom: 0;
        img {
            max-width: 50%;
        }
    }
}

@media (max-width: 479.98px) {
    .doctor-image_2 {
        display: none;
    }
}

/* ----------------------------- */

.make-schedule {
    position: relative;

    &__container {
        padding: 150px 15px 75px 15px;
        display: flex;
        position: relative;
    }

    &__image {
        position: relative;
        z-index: 5;
        flex: 0 1 55%;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            border: $PrimaryColor solid 2px;
            background: transparent;
            width: 611px;
            height: 375px;
            top: -2.5%;
            left: 1.35%;
            border-radius: 1000px;
        }
    
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            border: $PrimaryColor solid 2px;
            background: transparent;
            width: 611px;
            height: 375px;
            top: 5%;
            left: -1.15%;
            border-radius: 1000px;
        }
    }

    &__block {
        flex: 0 1 45%;
        padding: 0 20px;
        max-width: 515px;
    }

    &__block-text {
    }
}

.reception-image {
    img {
        border-radius: 1000px;
    }
}

.button {
    &__make-schedule-now {
        padding: 16px 36px;
    }
}

/* ----------------------------- */

.our-rating {
    &__container {
        padding: 75px 15px 75px 15px;
        display: flex;
        flex-direction: column;
    }

    &__block-text {
        margin: 0px auto 53px;
        text-align: center;
    }

    &__items {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    &__column {
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 50px 0 44px;
        background: $BackgroundColor;
        box-shadow: 0px 10px 40px rgba(18, 18, 18, 0.1);
        border-radius: 0px 0px 10px 10px;
        border-top: $PrimaryColor solid 3px;
        flex: 0 0 287px;
    }
    
    &__item {
    }
}

.item-our-rating {
    &__number {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: $ls003em;
        color: $TitleColor;
        margin: 0 0 12px 0;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: $ls003em;
        color: $TitleColor;
    }

    &__text {
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: $TextColor;
        color: #696969;
    }
}

/* ----------------------------- */

.feedback {
    position: relative;

    &__container {
        padding: 75px 15px 250px 29px;
    }

    &__block-text {
        justify-content: center;
        text-align: center;
        margin: 0 0 54px 0;
    }

    &__subtitle {
        margin: 0 0 11px 0;
    }

    &__text {
        letter-spacing: $ls0015em;
    }

    &__review {
        display: flex;
    }

    &__image {
        position: relative;
        z-index: 5;
        flex: 0 1 49%;
        bottom: -80px;
        left: -14px;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            background-color: transparent;
            width: 420px;
            height: 360px;
            border: $PrimaryColor solid 2px;
            top: 12px;
            left: 11px;

        }
    }

    &__review-content {
        flex: 0 1 51%;
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            background-color: $AdditionColor;
            width: 100vw;
            height: 350px;
            left: -114px;
            top: -156px;
            transform: translate(0%, 100%);
        }
    }

    &__review-text {
        overflow-y: hidden;
        position: relative;
        max-width: 555px;
        padding: 100px 0 90px 0;
        margin: 0 0 44px 0;
    }

    &__bottom-block {
        display: flex;
    }
}

.bottom-block {
    justify-content: space-between;

    &__client-block {
        max-width: 210px;

        & div:not(:last-child) {
            margin: 0 0 14px 0;
        }
    }

    &__switch-block {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}

.client-image {
    img {
        max-width: 100%;
    }
}

.review-text {
    font-size: 25px;
    line-height: 40px;
    letter-spacing: $ls003em;
    color: $TitleColor;
}

.feedback {
    &__client {
    }
    &__switch-block {
    }
}
.client-block {
    &__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: $ls003em;
        color: $TitleColor;
    }

    &__post {
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: $ls003em;
        color: $TextColor;
    }
}

.switch-block {
    &__switch {
    }
}

.switch {
    &_left {
        transform: rotate(180deg);
        fill: red;

        &__link {
        }
    }

    &_right {
        fill: red;

        &__link {
            
        }
    }
}

