.main {
    flex: 1 1 auto;
}

/* ----------------------------- */

.medical-care {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;

    &__container {
        padding: 184px 15px 211px 15px;
        display: flex;
        position: relative;     
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 3;
        background-color: $PrimaryColor;
        width: 1240px;
        height: 1240px;
        top: 43%;
        left: 45%;
        border-radius: 50%;
    }

    &__block-text {
        max-width: 634px;
    }

    &__profile {
        position: absolute;
        z-index: 6;
        bottom: 13%;
        right: 36%;
    }

    &__image {
        position: absolute;
        z-index: 5;
        bottom: 0;
        right: -90px;
    }
}

@media (max-width: 1268px) {
    .medical-care {

        &::before {
            top: 40%;
            left: 38%;
        }
        &__profile {
            right: 43%;
        }
    
        &__block-text {
            max-width: 520px;
        }
    }

    .doctor-image_1 {
        max-width: 70%;
    }
}

@media (max-width: 991.98px) {
    .medical-care {
        &__profile {
            bottom: 13%;
            right: 45%;
        }
    
        &__block-text {
            max-width: 500px;
        }

        &__image {
            right: -75px;
        }
    }
}

@media (max-width: 767.98px) {
    .medical-care {
        
        &::before {
            display: none;
        }

        &__container {
            flex-direction: column;
            padding: 124px 15px 0px 15px;
        }

        &__block-text {
            max-width: none;    
        }

        &__button {
            flex: 0 0 122px;
            padding: 16px 36px;
        }

        &__profile {
            position: absolute;
            width: 144px;
            left: 100px;
            bottom: 60px;
        }   
    }
}

@media (max-width: 479.98px) {
    .medical-care {

        &__container {
            padding: 124px 15px 50px 15px;
        }

        &__profile {
            position: static;
            margin: 40px auto 0px;
        }  
    }
}

/* ----------------------------- */

.block-text {

    &__title {
        font-weight: 700;
        font-size: 54px;
        line-height: 1.3;
        letter-spacing: $ls002em;
        color: $TitleColor;

        & span {
            color: $PrimaryColor;
        }

        &:not(:last-child) {
            margin: 0 0 26px 0;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: $ls003em;

        &:not(:last-child) {
            margin: 0 0 26px 0;
        }
    }
}

@media (max-width: 1268px) {
    .block-text {

        &__title {
            font-size: 44px;
    
            &:not(:last-child) {
                margin: 0 0 20px 0;
            }
        }
    
        &__text {
            font-size: 14px;
    
            &:not(:last-child) {
                margin: 0 0 20px 0;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .block-text {

        &__title {
            font-size: 38px;
    
            &:not(:last-child) {
                margin: 0 0 20px 0;
            }
        }
    
        &__text {
            font-size: 14px;
    
            &:not(:last-child) {
                margin: 0 0 20px 0;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .block-text {

        &__title {
            font-size: 36px;
        }
    }
} 

/* ----------------------------- */

.profile-card {
    background-color: $BackgroundColor;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px -24px 34px rgba(199, 201, 217, 0.15);
    
    &__container {
        padding: 16px 0;
        width: 144px;
    }

    &__image {
        img {
            border-radius: 50%;
        }
        margin: 0 0 10px 0;
    }

    &__title {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: $ls003em;

        &:not(:last-child) {
            margin: 0 0 4px 0;
        }
    }

    &__text {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: $ls003em;

        &:not(:last-child) {
            margin: 0 0 10px 0;
        }
    }

    &__button {
        padding: 10px;
        flex: 0 1 112px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: $ls003em;
    }
}

/* ----------------------------- */

.button {
    @include button;

    &__contact-us {
        flex: 0 0 162px;
        padding: 16px 36px;
    }
}

@media (max-width: 767.98px) {
    .button {
        &__contact-us {
            flex: 0 0 102px;
            padding: 12px 22px;
        }
    }
}

/* ----------------------------- */

.doctor-image_1 {
    img {
        max-width: 100%;
    }
}

@media (max-width: 767.98px) {
    .doctor-image_1 {
        position: relative;
        right: -180px;
        bottom: 0;
    }
}

@media (max-width: 479.98px) {
    .doctor-image_1 {
        display: none;
    }
}

/* ----------------------------- */

.fast-solutions {

    &__container {
        padding: 100px 15px 100px 15px;
        display: flex;
        flex-direction: column;
    }

    &__block-text {
        margin: 0px auto 53px;
        text-align: center;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: $ls003em;
        color: $PrimaryColor;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: $ls0015em;
        color: $TitleColor;
    }

    &__items {
        display: flex;
        flex-direction: row;
        gap: 30px;
        
    }

    &__column {
        display: flex;
        background: $BackgroundColor;
        box-shadow: 0px 10px 40px rgba(18, 18, 18, 0.1);
        border-radius: 0px 0px 10px 10px;
        border-top: $PrimaryColor solid 3px;
        flex: 0 1 25%;
        &_1 {

        }

        &_2 {
        }

        &_3 {
        }

        &_4 {
        }
    }

    &__item {
        
    }
}

.block-text {
    &__subtitle {

    }
}

.item-fast-solutions {

    &__icon {
        padding: 50px 0 0 40px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: $ls003em;
        color: $TitleColor;
        padding: 14px 0 12px 40px;
    }

    &__text {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: $ls003em;
        color: $TextColor;
        padding: 0 0 50px 40px;
        max-width: 250px;

        &:nth-child(3),
        &:nth-child(4) { 
            padding: 0 0 34px 40px;
        }
    }
}






