/* --------------- COLORS ---------------- */

$PrimaryColor: #4D77FF;
$AdditionColor: #EDF1FF;
$LightGrey: #C7C9D9;
$BackgroundColor: #FFFFFF;
$TitleColor: #121212;
$TextColor: #696969;

/* --------------- TEXT ---------------- */

$ls002em: 0.32px;
$ls003em: 0.48px;
$ls0015em: 0.24px;

/* --------------- BUTTON ---------------- */

$BorderRadius: 10px;