@use "../abstracts" as *;

.footer {
    width: 100%;
    bottom: 0;
    left: 0;

    &__container {
        display: flex;
        min-height: 125px;
        padding: 0 15px 104px 15px;
    }

    &__description {
        flex: 0 1 46%;
    }

    &__row {
        display: flex;
        flex: 0 1 54%;
    }

    &__column {
        width: 25%;
        padding: 0 35px;
        &_1 {
            padding: 0 35px 0 0;
        }

        &_2 {
        }

        &_3 {
        }

        &_4 {
            padding: 0 0 0 35px;
        }   
    }

    &__label {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: $ls003em;
        color: $TitleColor;
        margin: 0 0 16px 0;
    }
}

@media (max-width: 1270px) {
    .footer {
        &__row {
            flex-wrap: wrap;
            flex: 0 1 46%;
        }

        &__description {
            align-self: center;
            flex: 0 1 54%;
        }

        &__row {
        }

        &__column { 
            flex: 0 1 50%;
            width: none;
            flex-wrap: wrap;
            padding: 0;
            margin: 0 0 20px 0;
            &_3 {
                margin: 0;
            }

            &_4 {
                margin: 0;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .footer {
        &__container {
            flex-direction: column;
            padding: 0 15px 70px 15px;
        }
        
        &__row {
            flex: 0 1 100%;
            align-self: center;
        }

        &__description {
            flex: 0 1 100%;
            align-self: center;
        }
    }
}

@media (max-width: 479.98px) {
    .footer {
        &__container {
            flex-direction: column;
            padding: 0 15px 70px 15px;
        }
        
        &__row {
            flex: 0 1 100%;
            align-self: center;
        }

        &__description {
            flex: 0 1 100%;
            align-self: center;
        }

        &__column { 
            flex: 0 1 100%;

            &_3 {
                margin: 0 0 20px 0;
            }
        }
    }
}

.footer-description {
    &__logo {
        & p {
            margin: 0 0 12px 0;
        }
    }

    &__text {
        max-width: 432px;
        line-height: 20px;
        letter-spacing: $ls0015em;
        color: $TitleColor;
    }
}

@media (max-width: 1270px) {
    .footer-description {
        &__text {
            margin: 0 0 20px 0;
        }
    }
}

@media (max-width: 991.78px) {
    .footer-description {
        &__text {
            max-width: 300px;
        }
    }
}

@media (max-width: 767.98px) {
    .footer-description {
        padding: 0 35px 0 0;
        &__text {
            font-size: 16px;
            max-width: 432px;
        }
    }
}

@media (max-width: 479.98px) {
    .footer-description {
        padding: 0 60px 0 0;
    }
}

.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: $ls003em;
}

.menu-footer {
    &__list {
        white-space: nowrap;
    }

    &__item {
        &:not(:last-child) {
            margin: 0 0 10px 0;
        }
    }

    &__link {
        line-height: 20px;
        letter-spacing: $ls0015em;
        color: $TitleColor;

        &:not(&_media):hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 767.98px) {
    .menu-footer {
        &__item {
            &:not(:last-child) {
                margin: 0 0 20px 0;
            }
        }

        &__link {
            font-size: 16px;
        }
    }
}

@media (max-width: 479.98px) {
    .menu-footer {
        &__link {
            font-size: 20px;
        }
    }
}

.media-list {
    display: flex;
    gap: 10px;
}